body {
	background: lightgray;
	font-family: 'Meiryo';
}

#shiri_letter{
	color: blue;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	top: 25px;
	left: 160px;
}

.p{
	background: #fff;
	border-radius: 5%;
	width: 500px;
	height: 300px;
	position: absolute;
	top: 120px;
}

.b{
	position: absolute;
	top: -50px;
	right: 10px;
}

#log_box{
	width: 200px;
	height: 500px;
	background-color: white;
	overflow: scroll;
	position: absolute;
	left: 1100px;
	top: 120px;
}

#start-btn , #stop-btn , #enter-btn{
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	padding: 0.3em 0.7em;
	text-decoration: none;
	background: #67c5ff;
	color: #fff;
	border-radius: 5px;
	border: solid 2px #67c5ff;
}

#start-btn:hover , #stop-btn:hover , #enter-btn:hover {
	background: white;
	color: #67c5ff;
}

.e{
	background: #fff;
	border-radius: 5%;
	width: 500px;
	height: 300px;
	position: absolute;
	left: 550px;
	top: 120px;
}

#pname{
	color: navy;
	font-size:40px;
	font-weight: 500;
	display: inline;
	position: absolute;
	top: -100px;
	left: 10px;
}

#ename{
	color: navy;
	font-size:40px;
	font-weight: 500;
	display: inline;
	position: absolute;
	top: -100px;
	left: 10px;
}

#log_name{
	color: navy;
	font-size:40px;
	font-weight: 500;
	display: inline;
	position: absolute;
	top: 25px;
	left: 1100px;
}

#next{
	font-weight: bold;
	font-size: 25px;

}

#attention{
	font-size: 25px;
	color: orange;
	font-weight: bold;
	position: absolute;
	top: 160px;
	left: 50px;
}

#result-div,#enemy_word{
	font-size: 40px;
	position: absolute;
	top: -20px;
	left: 50px;
}

#player_word,#enemy_read{
	font-size: 40px;
	position: absolute;
	top: 100px;
	left: 50px;
}

#rink{
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	padding: 0.3em 0.7em;
	text-decoration: none;
	background: white;
	color: #67c5ff;
	border-radius: 5px;
	border: solid 2px #67c5ff;
	position: absolute;
	top: 30px;
	left: 800px;
}

#rink:hover {
	background: #67c5ff;
	color: white;
}